.footer-section {
  height: 100%;
  width: 100%;
  background: #190038;
  border-radius: 0px 70px 0px 0px;
}

.footer-section .footer-container {
  margin: 0rem 3rem;
  color: #fff;
}

.footer-section .footer-container .contact {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section .footer-container .contact .interested {
  text-align: center;
}

.footer-section .footer-container .contact .interested h1 {
  font-size: 36px;
}

.footer-section .footer-container .contact .interested p {
  font-size: 12px;
}

.footer-section .footer-container .contact .lets-talk {
  text-align: center;
  padding: 0.5rem;
  background: #2fc0fe;
  border-radius: 15px;
  margin-top: 1rem;
  cursor: pointer;
}

.footer-section .footer-container .contact .lets-talk button {
  border: none;
  color: #fff;
  background: #2fc0fe;
  font-size: 17px;
  cursor: pointer;
}

.footer-section .footer-container .footer-details {
  margin-top: 5rem;
}

.footer-section .footer-container .footer-details .address {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.footer-section .footer-container .footer-details .address .logo a {
  font-size: 24px;
  color: #57cc99;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-section .footer-container .footer-details .address h4 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 3rem;
}

.footer-section .footer-container .footer-details .address .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 3rem;
}

.footer-section .footer-container .footer-details .address .contact-container .about-us h4 {
  margin-bottom: 1rem;
}

.footer-section .footer-container .footer-details .address .contact-container .about-us a {
  text-decoration: none;
  color: #fff;
}

.footer-section .footer-container .footer-details .address .contact-container .follow-us h4 {
  margin-bottom: 1rem;
}

.footer-section .footer-container .footer-details .address .contact-container .follow-us a {
  text-decoration: none;
  color: #fff;
}

.footer-section .footer-container .copyright {
  padding: 3rem 0;
  text-align: center;
}

.footer-section .footer-container .copyright p {
  font-size: 14px;
  font-weight: normal;
  opacity: 50%;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    margin: 0 14rem !important;
  }
  .footer-container .contact {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-container .contact .interested {
    margin-right: 5em;
  }
  .footer-container .contact .interested h1 {
    font-size: 48px !important;
    text-align: left;
  }
  .footer-container .contact .interested p {
    font-size: 15px !important;
    text-align: justify;
    margin-top: 2rem;
  }
  .footer-container .contact .lets-talk {
    padding: 1rem !important;
    width: 20%;
  }
  .footer-container .address {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .footer-container .address .contact-container .about-us {
    margin-right: 8rem;
  }
}

@media screen and (min-width: 1500px) {
  .footer-container {
    margin: 0 25rem !important;
  }
}

@media screen and (min-width: 800px) {
  .contact {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .interested {
    margin-right: 5em;
  }
  .contact .interested h1 {
    text-align: left;
  }
  .contact .interested p {
    font-size: 15px !important;
    text-align: left;
    margin-top: 2rem;
  }
  .contact .lets-talk {
    padding: 1rem !important;
    width: 20%;
  }
}
/*# sourceMappingURL=footer.css.map */